<%- include("partials/header") %>
   <div class="container ">
        <div class="subContainer"> 
            <div class="paraWrap">
                <h1 class=" title">About ME</h1>
                <img class="Anim myPic " src="/img/me.png">
                <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
                <!-- <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p> -->
            </div>
        </div>
   </div>

   <div class="container">
        <div class="subContainer">
            <div class="paraWrap">
                <h1 class=" title ">my portfolio</h1>
                <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
            </div>
        </div>
    </div>

    <%- include("partials/portfolio") %>
  
            <!-- 
                FORM


             -->
    <div class="container">
        <div class="subContainer"> 
            <h1 class="title">Contact Me!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
            <form class="myContactForm">
                <ul class="myForm">
                    <div class="marginTop"></div>
                    <li><label class="labels">Full Name <span class="red">*</span></label></li>
                    <li><input class="namesForm shadow" placeholder="First Name" required> 
                        <input class="namesForm shadow" placeholder="Last Name" required></li>
                    <li><label class="labels">Email <span class="red">*</span></label></li>
                    <li><input class="emailForm shadow" placeholder="Your Email" required></li>
                    <li><label class="labels">Your Message <span class="red">*</span></label></li>
                    <li><textarea rows="8" cols="50" class="shadow" required></textarea></li>
                    <li><input type="submit" class="buttons"></li>
                </ul>
            </form>
        </div>
    </div>
<%- include("partials/footer") %>