<div id="#About" class="containerA inline-anim Anim">
  <div class="subContainer">
    <div class="paraWrap">
      <h3 class="titleDescription">
        Hi, I'm Gabriel <span class="thickHifen">-</span> Lorem, ipsum dosan voluptatibus.
      </h3>
      <img class="Anim myPic " src="/img/me.png" />

      <p class="myDescriptionParagraphs">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
        commodi reprehenderit beatae sint ipsum ratione obcaecati sunt, harum
        sequi adipisci id? Sit iusto blanditiis dignissimos eum nemo saepe
        eveniet excepturi?
      </p>
      <p class="myDescriptionParagraphs">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
        quisquam nemo similique impedit illum asperiores, exercitationem
        corporis et praesentium, reiciendis ipsum obcaecati! Distinctio numquam
        possimus eius, voluptate consequatur qui eligendi?
      </p>
    </div>
  </div>
</div>
