<div class="subContainer">
  <div class="forms inline-anim Anim">
    <h1 class="title git">Contact Me!</h1>
    <form class="myContactForm">
      <ul class="myForm">
        <li>
          <label class="labels">Full Name <span class="red">*</span></label>
        </li>
        <li>
          <input class="namesForm shadow" placeholder="First Name" required />
          <input class="namesForm shadow" placeholder="Last Name" required />
        </li>

        <li>
          <label class="labels">Email <span class="red">*</span></label>
        </li>
        <li>
          <input class="emailForm shadow" placeholder="Your Email" required />
        </li>
        <li>
          <label class="labels">Your Message <span class="red">*</span></label>
        </li>
        <li>
          <textarea rows="8" cols="50" class="shadow" required></textarea>
        </li>
        <li><input type="submit" class="buttons" /></li>
      </ul>
    </form>
  </div>
</div>
