<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/img/logo.png">
    <title>VL Dev</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">    
        <nav id="navbar">
            <div class="grid-container">
                <a class="navSections" href="#"><img class="logo" src="img/logo.png"></a>
                <button class="headerButtons"><a class="about buttonsHeader navSections" href="#">Work</a></button>
                <button class="headerButtons"><a class="about buttonsHeader navSections" href="#">About</a></button>
                <button class="headerButtons"><a class="about buttonsHeader navSections contact" href="#">Contact</a></button>
            </div>
        </nav>
        <div class="bodyContainer">
            <h1 class="h1Body">Valencia<span id="additionalColours">ga</span></h1>
            <p class="devBody">Developer </p>
            <div class="portfolioButton">
                <a class="btnBody btnBody-ghost" href="#">Portfolio</a>
            </div>
        </div>
    </div>
