<!-- <div class="container Anim inline-anim">
        <div class="subContainer"> 
            <div class="paraWrap">            
                <h1 class="Anim title">Game</h1>
                <img class="Anim myGame" src="/img/game.png">
            </div>
            <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>

            <div class="descriptionButtons">
                <button class="buttons learnProject" onclick="changeIcon(this)"> <i class="icon fa fa-plus"></i> Learn more</button>
                <button class="buttons buttonPreview">Preview</button>
            </div>
            <p class="description"><span class="textDesc">Learn more about this :D</span></p>
        </div>
     
    </div> -->

<div class="portfolio">
    <div class="portfolioImage">
        image
    </div>
    <div class="portfolioContents">
        <div class="portfolioTitle">portfolio</div>
        <div class="portfolioDescription">description</div>
        <a href="">demo</a>
        <a href="">src</a>
    </div>
</div>

    <!-- <div class="container">
        <div class="subContainer"> <img class="Anim myGame" src="/img/onlineStore.png">
            <div class="paraWrap">
                <h1 class="Anim title">Online Store</h1>
                <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
            </div>
            <div class="descriptionButtons">
                <button class="buttons learnProject" onclick="changeIcon(this)" > <i class="icon fa fa-plus"></i> Learn more</button>
                <button class="buttons buttonPreview">Preview</button>
            </div>
            <p class="description"><span class="textDesc">Learn more about this :D</span></p>
        </div>
    </div>

    <div class="container">
        <div class="subContainer"> 
            <img class="Anim myGame" src="/img/travelAgency.png">
                <h1 class="Anim title">Travel Agency</h1>
                <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
            <div class="descriptionButtons">
                <button class="buttons learnProject" onclick="changeIcon(this)"><i class="icon fa fa-plus"></i>Learn more</button>
                <button class="buttons buttonPreview">Preview</button>
        </div> 

            <p class="description"><span class="textDesc">Learn more about this :D</span></p>
       
       </div> 
    </div> -->