<!-- <div class="containerA Anim inline-anim">
        <div class="subcontainerA"> 
            <div class="paraWrap">            
                <h1 class="Anim title">Game</h1>
                <img class="Anim myGame" src="/img/game.png">
            </div>
            <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>

            <div class="descriptionButtons">
                <button class="buttons learnProject" onclick="changeIcon(this)"> <i class="icon fa fa-plus"></i> Learn more</button>
                <button class="buttons buttonPreview">Preview</button>
            </div>
            <p class="description"><span class="textDesc">Learn more about this :D</span></p>
        </div>
     
    </div> -->
<!-- 
<section class="containerA containerAPortfolio">
    <div class="ptImg">
    </div>
    <div class="portfolioContents">
        <div class="title">Game</div>
        <div class="portfolioDescription">Game developed for a web programming class using javascript, this is my first program ever.</div>
        <div class="learnProject">Javascript CSS HTML</div>
        <button class="buttons learnProject" href="">demo</button>
        <button class="buttons buttonPreview" href="">src</button>
    </div>
</section> -->
<section class="my-5">
    <h3 class="h3-responsive title text-center my-5 title" style="font-weight: 100;">Game</h3>
    <p class="lead gray-text text-center w-responsive mx-auto mb-5">Game developed for a web programming class using javascript, this is my first program ever.</p>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 text-center text-lg-left">
                <img class="img-thumbnail text-center rounded mx-auto d-block img-fluid" style="max-height: 400px; max-width:400px;" src="/img/game.png">
            </div>
            <div class="col-lg-7">
                <div class="row mb-3">
                    <div class="col-1">
                    </div>
                    <div class="col-xl-10 col-md-11 col-10 text-center inline-anim Anim">
                    <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px;" src="img/js.png" alt="Javascript">
                    <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/html.png" alt="html">
                    <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/css.png" alt="css">
                    <div class="descriptionButtons">
                </div>
                    <button class="buttons learnProject" href="">demo</button>
                    <button class="buttons buttonPreview" href="">src</button>
                    </div>     
                </div>
            <!-- <div class="learnProject">Javascript CSS HTML</div> -->
                   </div>
        </div>
    </div>
</section>

<section class="my-5">
        <h3 class="h3-responsive title text-center my-5 title" style="font-weight: 100;">Online Store</h3>
        <p class="lead gray-text text-center w-responsive mx-auto mb-5">Game developed for a web programming class using javascript, this is my first program ever.</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center text-lg-left">
                    <img class="img-thumbnail text-center rounded mx-auto d-block img-fluid" style="max-height: 800px; max-width:400px;" src="/img/onlineStore.png">
                </div>
                <div class="col-lg-7">
                    <div class="row mb-3">
                        <div class="col-1">
                        </div>
                        <div class="col-xl-10 col-md-11 col-10 text-center inline-anim Anim">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px;" src="img/js.png" title="Javascript" alt="Javascript">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/html.png" title="HTML" alt="html">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/ajax.png" title="AJAX" alt="ajax">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/jquery.png" title="jQuery" alt="jquery">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/less.png" title="less" alt="less">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/php.png" title="php" alt="php">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/sql.png" title="MySQL" alt="sql">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/twig.jpg" title="TWIG" alt="twig">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:80px; margin: 40px;" src="img/sf.png" title="Symfony" alt="sf">
                        <div class="descriptionButtons">
                    </div>
                        <button class="buttons learnProject" href="">demo</button>
                        <button class="buttons buttonPreview" href="">src</button>
                        </div>     
                    </div>
                <!-- <div class="learnProject">Javascript CSS HTML</div> -->
                       </div>
            </div>
        </div>
</section>


<section class="my-5">
        <h3 class="h3-responsive title text-center my-5 title" style="font-weight: 100;">Travel Agency</h3>
        <p class="lead gray-text text-center w-responsive mx-auto mb-5">Game developed for a web programming class using javascript, this is my first program ever.</p>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center text-lg-left">
                    <img class="img-thumbnail text-center rounded mx-auto d-block img-fluid" style="max-height: 800px; max-width:400px;" src="/img/travelAgency.png">
                </div>
                <div class="col-lg-7">
                    <div class="row mb-3">
                        <div class="col-1">
                        </div>
                        <div class="col-xl-10 col-md-11 col-10 text-center inline-anim Anim">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px;" src="img/js.png" title="Javascript" alt="Javascript">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/html.png" title="HTML" alt="html">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/nodejs.png" title="NodeJS"alt="node">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/jquery.png" title="jQuery"alt="jquery">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/less.png" title="less"alt="less">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/angular.png" title="Angular"alt="angular">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/mongo.png" title="mongoDB"alt="mongo">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/passport.png" title="Passport"alt="passport">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/socket.png" title="socket.io"alt="socket">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/express.png" title="express"alt="express">
                        <img class="img-responsive text-center iconsTech" style="max-height: 50px; max-width:50px; margin: 40px;" src="img/rest.png" title="REST"alt="restt">
                        <div class="descriptionButtons">
                    </div>
                        <button class="buttons learnProject" href="">demo</button>
                        <button class="buttons buttonPreview" href="">src</button>
                        </div>     
                    </div>
                <!-- <div class="learnProject">Javascript CSS HTML</div> -->
                       </div>
            </div>
        </div>
</section>

    <!-- <div class="containerA">
        <div class="subcontainerA"> <img class="Anim myGame" src="/img/onlineStore.png">
            <div class="paraWrap">
                <h1 class="Anim title">Online Store</h1>
                <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
            </div>
            <div class="descriptionButtons">
                <button class="buttons buttonPreview">Preview</button>
            </div>
        </div>
    </div>

    <div class="containerA">
        <div class="subcontainerA"> 
            <img class="Anim myGame" src="/img/travelAgency.png">
                <h1 class="Anim title">Travel Agency</h1>
                <p class="myDescriptionParagraphs">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mattis nulla, quis mattis enim. Nunc blandit, mi sit amet gravida faucibus, metus velit pulvinar risus, vel auctor velit risus id purus. Donec id diam condimentum, suscipit lectus nec, ullamcorper leo. Etiam in feugiat ante. In at fermentum lacus. Quisque venenatis enim et ipsum elementum pellentesque vitae ut nibh. Nullam mattis elit ut orci malesuada, id tempus odio euismod. Nam ut enim a risus tempor venenatis. Duis faucibus eget purus eu laoreet.</p>
            <div class="descriptionButtons">
                <button class="buttons learnProject" onclick="changeIcon(this)"><i class="icon fa fa-plus"></i>Learn more</button>
                <button class="buttons buttonPreview">Preview</button>
        </div> 

            <p class="description"><span class="textDesc">Learn more about this :D</span></p>
       
       </div> 
    </div> -->